.row-btns {
  display: flex;
  justify-content: center;
  outline-width: 2px;
}

.transfer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-bottom: 10px;
}

.option {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-width: 2px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 3px solid;
}

.option input {
  display: none;
}

.option:hover {
  background-color: var(--blue-6);
}

.checked {
  background-color: var(--blue-1);
  color: white;
  border-color: black;
}

.option:active {
  background-color: var(--blue-1);
  color: white;
  border-color: black;
}

.option-center {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.option-left {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 0px;
}

.option-right {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 0px;
}
