:root {
  --blue-6: #cdeef3;
  --blue-5: #9bdfe8;
  --blue-4: #9ce3ed;
  --blue-3: #3bc9db;
  --blue-2: #5da4ad;
  --blue-1: #1d646d;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #242424;
  margin: 0;

  background-image: url('/src/assets/background.svg');
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: normal;
  background-color: transparent;
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.page {
  width: 50%;
  align-self: center;
}

.contents {
  /* align-content: stretch; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.form-shape {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 12px;
  width: 75%;
  flex-direction: column;
  width: 90%;
}

.form-text {
  margin-bottom: 0em;
  width: 80%;
}

.square {
  color: #000;
  width: 240px;
  height: 240px;
}

.row {
  display: inherit;
  flex-direction: row;
  width: inherit;
  align-items: center;
}

.form {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  border-top-style: none;
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  max-width: 1280px;
}

.subtitle {
  font-size: 16pt;
  text-align: start;
}
.small-text {
  font-size: 7pt;
  width: 80%;
}

.form-container {
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 2px 2px 0 0 0 0;
}

.form-input {
  height: 30px;
  width: 40%;
}

.full {
  width: 100%;
}

.button {
  padding: 5px;
  width: 50%;
  font-weight: bold;
  border-style: none;
  text-decoration: none;
  color: var(#000);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  text-decoration-line: none;
  background-color: var(--blue-6);
  text-decoration-line: none;
}

.button:hover {
  border-bottom-color: var(--blue-1);
  color: var(--blue-1);
}

.card-row {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.paid {
  background-color: rgba(164, 164, 164, 0.19);
}

.stats {
  align-content: stretch;
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  overflow-x: auto;
  overflow-y: auto;
  width: 40%;
}

.heading {
  margin-bottom: 0em;
}

.stats-item {
  flex-grow: 1;
  margin: 1em;
}

.group {
  align-items: center;
  column-gap: 6px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: wrap;
  row-gap: 6px;
}

.pair {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal {
  background-color: rgba(255, 255, 255, 0.29);
  border-top-style: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  column-gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
