:root {
  --blue-6: #CDEEF3;
  --blue-5: #9BDFE8;
  --blue-4: #9CE3ED;
  --blue-3: #3BC9DB;
  --blue-2: #5DA4AD;
  --blue-1: #1D646D;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #242424;

  background-image: url('/src/assets/background.svg');
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: normal;
  background-color: transparent;
  margin: 0;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.page {
  width: 50%;
  align-self: center;
}


.contents {
  /* align-content: stretch; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.form-shape {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 12px;
  width: 75%;
  flex-direction: column;
  width: 100%;
}

.square {
  color: #000;
  width: 240px;
  height: 240px;
}

.row {
  display: inherit;
  flex-direction: row;
  width: inherit;
  align-items: center;
}

.form {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  border-top-style: none;
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 16pt;
}
.small-text {
  font-size: 7pt;
  width: 80%;
}

.form-container {
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 2px 2px 0 0 0 0;
}

.button {
  text-decoration: none;
  background-color: var(--blue-6);
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: var(#000);
  font-weight: bold;
  padding: 4px;
  text-decoration-line: none;
  width: 50%;
}
