.side-bar {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff99;
  width: 14em;
  padding-left: 10px;
}

.logo {
  margin: 8px;
  justify-content: center;
  display: flex;
  transform: scale(1);
  padding-bottom: 10px;
  transform-origin: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.menulist {
  display: flex;
  flex-direction: column;
}

.menuitem {
  color: initial;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  padding-left: 10px;
}

.menuitem:hover {
  background-color: var(--blue-6);
}
